@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #0D0C1D;
    --secondary-color: #1F1A38;
    --text: #F5F5F5;
    --muted-text: #A8A8A8;
    --hover: #00FFF7;
    --logo: #ffffff;
    --shadow: rgba(162, 89, 255, 0.6);
    --accent: #FF6EC7;
    --bg-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
    color: var(--text);
}

.header {
    height: 3.5rem;
    background: radial-gradient(circle at top left, #0f0f1b, #1a093d);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-list {
    display: none;
}

.nav-link {
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--hover);
}

.nav-list a.active {
    color: cyan;
    border-left: 3px solid cyan;
    font-weight: bold;
}

.nav-list {
    position: fixed;
    border: 1px solid rgba(255, 255, 225, 0.2);
    background-color: rgba(15, 23, 42, .6);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    flex-direction: column;
    justify-content: flex-start;
    top: 0%;
    align-items: start;
    padding: 2rem;
    width: 100%;
    height: 100%;
    left: -100%;
    transition: left 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    display: flex;
    z-index: 1000;
    gap: 2rem;
    font-size: 2rem;
    /* display: none; */
}

.name-logo a {
    color: var(--logo);
    font-size: 1.55rem;
    font-weight: 500;
}

.name-logo span {
    color: var(--hover);
}


.nav-list.show {
    left: 0;
}

.nav-link {
    font-size: 1.2rem;
    opacity: 0;
    transform: translateX(-20px);
    cursor: pointer;
    transition: color 0.3s ease;

}

.nav-list.show .nav-link {
    animation: slidIn 0.6s forwards;
    animation-delay: calc(var(--i)*0.2s);
}

.nav-link:hover {
    color: #22d3ee;
    opacity: 1;

}

@keyframes slidIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.primary-btn {
    background-color: var(--hover);
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 transparent;
}

.primary-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--hover);
    color: var(--text);
    box-shadow: 0 0 15px cyan;
    transform: scale(1.05);
}

.secondray-btn {
    background-color: var(--primary-color);
    color: var(--hover);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 transparent;
}

.secondray-btn:hover {
    background-color: var(--hover);
    border-color: var(--primary-color);
    color: var(--text);
    box-shadow: 0 0 15px cyan;
    transform: scale(1.05);
}

.menu,
.close {
    display: block;
}

.close {
    display: block;
    position: fixed;
    top: 20px;
    right: 1.2rem;
    font-size: 2rem;
}

.nav-menu,
.nav-close {

    background: none;
    border: none;
    transition: all ease-in-out 0.3s;
}

.nav-menu:hover {
    transform: rotate(90deg);
    color: cyan;
}

.nav-close:hover {
    transform: rotate(-90deg);
    color: cyan;
}


.under {
    position: relative;
    text-decoration: none;
}

.under::after {

    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 0;
    height: 2.3px;
    background-color: var(--hover);
    transition: width 0.3s ease-in-out;
}

.under:hover::after {
    width: 100%;
}

/* hero  */

.hero {
    min-height: 100vh;
    background-color: var(--secondary-color);
    margin-top: 2.5rem;
    padding: 2rem;
    color: var(--text);
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.hero-content h1 {
    line-height: 3.5rem;
    font-weight: bold;
    font-size: 2.1rem;
}

.highlight {
    background: linear-gradient(to right, #00FFF7, #9b59b6);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-content h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.hero-content p {
    font-weight: 400;
    margin-bottom: 0rem;

}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* dark overlay */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}


.modal-content {
    background: linear-gradient(135deg, #0f0f1b, #1a093d);
    padding: 2rem;
    border-radius: 15px;
    width: 400px;
    color: cyan;
    box-shadow: 0 0 25px cyan;

}

.modal-content h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: cyan;
}


input,
textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.7rem;
    border: 1px solid cyan;
    border-radius: 8px;
    background: #121223;
    color: #fff;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #00e5ff;
    box-shadow: 0 0 10px cyan;
}


.submit-btn {
    width: 100%;
    background: cyan;
    color: #0f0f1b;
    padding: 0.8rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #00e5ff;
    transform: translateY(-2px);
}

.close-btn {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    color: cyan;
}

.hero-button {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.socialLogo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.2rem;
    background-color: transparent;
    border-radius: 2rem;

}

.slogo {
    width: 2.5rem;
    background-color: var(--logo);
    border-radius: 50%;
    transition: all 0.3s ease;

}

.slogo:hover {
    scale: 1.4;
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.35);
}

.hero-img {
    margin-top: 3rem;
}

.left-hero {
    margin-bottom: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.herosocial {
    justify-content: center;
    align-items: center;

}

/* about */
.about {
    min-height: 100vh;
    background-color: #0a0f1f;
    padding: 2rem;
    color: var(--text);
    gap: 2rem;
    flex-wrap: wrap;
}

.sectiohead,
.skillshead {
    text-align: center;
    font-size: 1.8rem;
    color: var(--text);
}

.sectiohead span,
.skillshead span {
    color: var(--hover);
}

.tagline {
    text-align: center;
    font-size: 1.2rem;
    color: var(--hover);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.container {
    /* margin-top: 4rem; */
    flex-direction: column;
    gap: 3rem;
}

.right-about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    /* width: 20rem; */
    /* height: 10rem; */
}

.right-about p {
    font-size: 1.7rem;
    font-weight: 400;
}

.summary,
.currently,
.presoanltouch,
.fun-fact {
    margin-bottom: 1rem;
    color: var(--text);
    letter-spacing: 0.5px;
    text-align: left;
}

.fade-up {
    transform: translateY(100px);
    animation: fadeup 1.5s ease-out forwards;
}

@keyframes fadeup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* skills  */
.skills {
    min-height: 100vh;
    background: linear-gradient(0deg, #0f0f1b, #1a093d);
    padding: 2rem;
    color: var(--text);
    flex-wrap: wrap;
}

.gridcontainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.heading p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #00e5ff;
    letter-spacing: 1px;
}

.progress-bar {
    margin-top: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    animation: glow 2s infinite;
}



.skill1 {
    position: relative;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 229, 255, 0.18);
    box-shadow: 0 0 5px rgba(0, 229, 255, 0.35);
}

.ring {
    width: 80%;
    height: 80%;
    transform: rotate(-90deg);
}

.track,
.progress {
    fill: none;
    stroke-width: 6;
}

.track {
    stroke: rgba(255, 255, 255, 0.08);
}

.progress {
    stroke-linecap: round;
    stroke-dasharray: 326;
    stroke-dashoffset: 326;
    stroke: var(--hover);
    /* filter: drop-shadow(0 0 3px rgba(0, 255, 255, 0.45)); */
    transition: stroke-dashoffset 1.2s ease-out;

}

.skills-center {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    text-align: center;
}

.skills-center .value {
    color: white;
    font-weight: 800;
    font-size: 15px;
    margin-top: 1.5rem;
}

.skills-center .label {
    padding-bottom: 1.5rem;
    color: var(--text);
    font-size: 12px;
}


.containerp {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.containerp .progresscontainer {
    margin-bottom: 1.6rem;

}

.containerp .progresscontainer h4 {
    margin: 0 0 0.95rem 0.95rem;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.skillshead p {
    font-weight: 700;
}

.containerp .progresscontainer .progressbar {
    position: relative;
    width: 23rem;
    height: 2rem;
    border-radius: 30px;
    background-color: var(--bg-color);
    box-shadow: 0 0 15px rgba(0, 229, 255, 0.6);
}

.containerp .progresscontainer .progressbar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    border-radius: 30px;
    background: var(--hover);
    transition: width .5s linear;
}

/* project */
.project {
    min-height: 100vh;
    background-color: #111827;
    padding: 2rem;
    color: var(--text);
    gap: 2rem;
    flex-wrap: wrap;
}

.projectcard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    /* place-items: center; */
}

.projectimg {
    position: relative;
    overflow: hidden;
    min-height: 15rem;
    border-radius: 1rem;
}

.image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius-left: 1rem;
    transition: all ease 0.3s;
}

.image:hover {
    scale: 1.05;
}

.projectInfo {
    color: var(--text);
}

.projectInfo p {
    color: var(--muted-text);
    line-height: 1.3;
    font-size: 1.1rem;
}

.techStack {
    margin-top: 1rem;
    color: var(--accent);
}

.projectBtn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: end;
}

.card {
    height: 100%;
}

/* contact */
.contact {
    min-height: 100vh;
    background-color: #121c33;
    padding: 2rem;
    color: var(--text);
    gap: 2rem;
    flex-wrap: wrap;
}

.contactcontainer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    place-items: center;
}

.contact-from {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 15rem;
    gap: 1.2rem;

}

/* .contactcard {
    display: grid;
    place-items: center;
    width: 100%;
}  */

.contact-from input,
.contact-from textarea {
    background-color: #1a1a1a;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    outline: none;
    transition: border 0.3s ease;
    color: var(--text);
}

.contact-from input:focus,
.contact-from textarea:focus {
    border-color: var(--accent);
}

.rightcontact button {
    margin-top: 1rem;
    font-size: 1rem;
}

.leftcontact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 1rem;

}

.infoitem {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--muted-text);
}

.infoitem a {
    color: var(--muted-text);
}

.infoitem img.csocialogo {
    width: 24px;
    height: 24px;
}

/* footer */
.footer {
    min-width: 50vh;
    background-color: #0d1117;
    padding: 2rem;
    color: #c9d1d9;
    gap: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
    padding-right: 3rem;
}

.name-logo {
    text-align: center;
}

.left-footer p {
    text-align: start;
    font-size: 1.4rem;
    text-align: center;
}


.center-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.footerlink-list {

    flex-direction: column;
    gap: 1rem;

}

.right-footer h3 {
    text-align: center;
}

.fheading {
    font-size: 1.5rem;
}

.center-footer ul li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.center-footer ul li a {
    color: cyan;
    transition: all ease-in-out.3s;
}

.center-footer ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    letter-spacing: 1px;
}

.center-footer h3,
.right-footer h3 {

    margin-bottom: 1rem;
    color: #fff;
}

.fsocillink {
    gap: 1rem;
}

.fsocillink a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--logo);
    padding: 6px;
    transition: 0.3s;
}

.fsocillink a img:hover {
    background: cyan;
    transform: scale(1.1);
    rotate: 360deg;
}

.footer-copywrite {
    color: var(--gray);
    font-size: 1rem;
    margin-top: 1.5rem;
    padding-top: 1.1rem;
    padding-right: 3rem;
    text-align: center;

}